/*
Author: Archie Lim
Description: CSS file of the movie page.
Version: 1.3
License: GNU General Public License
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

html{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

body{
  background-image: url(../images/background1.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  height: 100%;
}

.container{
  display: flex;
  flex-direction: column;

}
.home h1{
  text-align: center;
  display: block;
  font-size: calc(1vw + 0.6rem);
  position: relative;
  letter-spacing: 0.5rem;
  padding-top: 80px;
  padding-bottom: 30px;
  width: 80%;
  border-bottom: 3px solid white;
  margin: auto;
}

.top{
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;\
  font-size: 25px; 
  width: 100%
}

.label {
    margin: 0 10%;
    padding: 10% 5% 5% 5%;
}


.label h3{
  transition: 1s;
  font-size: calc(1vw + 0.4rem);
}

.grid{
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

.box{
  padding: 0px;
  margin: 0 5% 0 5%;
  transition: 1s;
  border-radius: .20rem;
}

.box img{
  padding: 0;
  background-color: black;
  opacity: .4;
  border: 5px solid white;
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
  transition: .5s;
}

.box img:hover{
  background-color: black;
  opacity: .9;
  transform: scale(1.1);
  z-index: 2;
}

.footer{
  background: black;
  opacity: .6;
  height: 600px;
  font-size: 15px;
  position: relative;
}

.footer h2{
  text-align: center;
  font-size: calc(1vw + 0.3rem);
  padding-top: 15px;
  padding-bottom: 20px;
  border-bottom: 3px solid white;
  width: 10%;
  margin: auto;

}

.footer p{
  padding-top: 20px;
  padding-bottom: 40px;
  width: 80%;
  margin: auto;
  text-align: justify;
  font-size: calc(1vw + 0.1rem);
  word-spacing: 2px;
  line-height: 200%;
  border-bottom: 3px solid white;
}

.footer .footer-info{
  padding-top: 25px;
  border: 3px solid white;
  height: 550px;
  width: 85%;
  margin: auto;
}

.footer .footer-info .contacts{
  text-align: center;
  width: 85%;
  height: auto;
  margin: auto;

}

.footer .footer-info .contacts .socials {
  padding-top: 30px;
}

.footer .footer-info .contacts .socials ul li{
  display: inline;
  list-style-type: none;
  text-align: center;
}

.footer .footer-info .contacts .info ul li{
  padding-top: 20px;
  font-size: calc(1vw + 0.1rem);
  list-style-type: none;
  text-align: center;
}


.footer .footer-copyright{
  background: black;
  opacity: .6;
  padding-top: 20px;
  color: white;
  text-align: center;
  font-size: calc(1vw + 0.2rem);
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

@media(max-width: 850px) {
  .footer h2{
    text-align: center;
    font-size: calc(1vw + 0.3rem);
    padding-top: 5px;
    padding-bottom: 1px;
    border-bottom: 3px solid white;
    width: 100px;
    margin: auto;
  }

  .footer{
    height: 100%;
  }

  .footer p{
    padding-bottom: 15px;
  }
  
  .footer .footer-info{
    height: 67%;
  }

  .footer .footer-copyright{
    margin-bottom: -80px;
  }


  .label {
    padding-left: 4px; 
    padding-right: 4px;
  }
}